@import "./boxImg.css";

.container {
  margin: auto;
  max-inline-size: 64rem;
  display: grid;
  grid-template-columns: 10rem 10rem 14.375rem 10.625rem 10.625rem;
  grid-template-rows: 6.25rem 6.25rem 5.625rem 6.875rem 9.0625rem;
  justify-content: center;
}

.container img {
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 6.25rem 6.25rem 11.875rem 6.875rem 6.875rem;
  }
  .container img {
    max-inline-size: 90%;
    max-block-size: 120%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 5rem 5rem 10.625rem 5.625rem 5.625rem;
  }
  .container img {
    max-inline-size: 85%;
    max-block-size: 120%;
  }
}
@media screen and (max-width: 580px) {
  .container {
    grid-template-columns: 3.75rem 3.75rem 9.375rem 3.75rem 3.75rem;
  }
  .container img {
    max-inline-size: 83%;
    max-block-size: 115%;
  }
}
@media screen and (max-width: 436px) {
  .container img {
    max-block-size: 100%;
  }
}
